
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>星巴克點餐區</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="welcome.css">
</head>


<body>
    
    <h1>你已成功點餐</h1>
    <h1>歡迎下次光臨</h1>
    <img src = "https://media.gq.com.tw/photos/5dbc7df10327d200088366e3/16:9/w_1280,c_limit/2017022171286265.jpg">
    
</body>

<script src="shopping.js"></script>

</html>