
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網管實作登入登出系統</title>
    <link rel="stylesheet" href="welcome.css">
</head>
<body>
    <h3>{{current_user.username}}，歡迎回來</h3>
    <h1>點餐區</h1>
    <hr>
    <h3>巧克力可可碎片星冰樂</h3>
    <img src= "https://www.starbucks.com.tw/common/objects/images/product/20211001141619639.jpg" width = 300 height = 400>
    <button>點餐</button>
    <hr>
    <h3>醇濃抹茶星冰樂</h3>
    <img src = https://www.starbucks.com.tw/common/objects/images/product/20220610145723363.jpg width = 300 height = 400>
    <button>點餐</button>
    <hr>
    <h3>焦糖可可碎片星冰樂</h3>
    <img src = https://www.starbucks.com.tw/common/objects/images/product/20211001141849319.jpg>
    <button>點餐</button>
    <hr>
    <h3>巧克力可可脆片星冰樂</h3>
    <img>
    <button>點餐</button>
    <hr>
    <h3>巧克力可可脆片星冰樂</h3>
    <img>
    <button>點餐</button>
    <hr>
    <h3>巧克力可可脆片星冰樂</h3>
    <img>
    <button>點餐</button>
    <hr>
    <h3>巧克力可可脆片星冰樂</h3>
    <img>
    <button>點餐</button>
</body>
</html>