
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>星巴克點餐區</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="welcome.css">
</head>


<body>
    
    <h1>點餐區</h1>
    <hr>
    <h3>巧克力可可碎片星冰樂</h3>
    <img src= "https://www.starbucks.com.tw/common/objects/images/product/20211001141619639.jpg" width = 300 height = 400>
    <button id = chocolate>點餐</button>
    <hr>
    <h3>醇濃抹茶星冰樂</h3>
    <img src = https://www.starbucks.com.tw/common/objects/images/product/20220610145723363.jpg width = 300 height = 400>
    <button id = greentea>點餐</button>
    <hr>
    <h3>焦糖可可碎片星冰樂</h3>
    <img src = https://www.starbucks.com.tw/common/objects/images/product/20211001141849319.jpg>
    <button id = caramel>點餐</button>
    
    
</body>

<script src="shopping.js"></script>

</html>